.bannerForumPage {
    height: 20vh;
    background: url('../images/ForumBanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smallPostWrapper {
    width: 80%;
    margin: 1% 10%;
}

.smallPost {
    padding: 0.75%;
    border: 2px solid;
}

.normalPost {
    padding: 0% 1%;
}

.iconWrapper {
    overflow: hidden;
}

.makePlaceForIcons {
    width: 90%;
    float: left;
}

.iconDiv {
    width: 10%;
    overflow: hidden;
}

.makePlaceForIconsComment {
    width: 88%;
    float: left;
}

.iconDivComment {
    width: 12%;
    overflow: hidden;
}

.buttonDelete {
    background-color: rgb(230, 90, 90);
    border: 0;
    float: right;
}

#buttonDelete:hover {
    background-color: rgb(255, 0, 0)!important;
}

#buttonDelete:active {
    background-color: rgb(230, 90, 90)!important;
}

#buttonDelete:focus {
    background-color: rgb(255, 0, 0)!important;
}

.buttonEdit {
    background-color: #2BAE66;
    border: 0;
    float: right;
}

#buttonEdit:hover {
    background-color: #187240!important;
}

.smallComment {
    width: 98%;
    margin: 1% 1%;
    padding: 0.25rem 0.5rem;
    border: 2px solid;
}

.trenner {
    border: 1px solid;
    width: 98%;
}

.createPost {
    display: grid;
    grid-template-columns: 33% 45% 20%;
    grid-template-rows: 50% 50% 0%;
    grid-template-areas: 
        "create contentField button"
        "titel contentField button"
        "error error error";
    column-gap: 1%;
}

.createPostCreate {
    grid-area: create;
}

.createPostTitel {
    grid-area: titel;
}

.createPostContent {
    grid-area: contentField;
}

.createPostButton {
    grid-area: button;
}

.createPostError {
    grid-area: error;
}

.createCommentWrapper {
    width: 98%;
    margin: 1% 1%;
}

.createComment {
    display: grid;
    grid-template-columns: 80% 19%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "contentField button"
        "error error";
    column-gap: 1%;
}

.createCommentContent {
    grid-area: contentField;    
}

.createCommentButton {
    grid-area: button;
}

.createCommentError {
    grid-area: error;
}

.overflowOneLine {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.overflowTwoLines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.von {
    display: inline;
    color: #A9A9A9;
}

.App > div:nth-child(2) > div:nth-child(1) > div a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    .createPost {
        display: grid;
        grid-template-columns: 40% 59%;
        grid-template-rows: 36% 35% 25%; 
        grid-template-areas: 
            "create contentField"
            "titel contentField"
            "button button"
            "error error";
        column-gap: 1%;
        row-gap: 2%;
        padding-bottom: 1%;
    }

    .createComment {
        display: grid;
        grid-template-columns: 74% 25%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "contentField button"
            "error error";
        column-gap: 1%;
    }

    .makePlaceForIconsComment {
        width: 84%;
    }

    .iconDivComment {
        width: 16%;
    }
}

@media only screen and (max-width: 767px) {
    .createPost {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 50%; 
        grid-template-areas: 
            "create"
            "titel"
            "contentField"
            "button"
            "error";
        column-gap: 1%;
        row-gap: 2%;
        padding-bottom: 5%;
    }

    .createComment {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "contentField"
            "button"
            "error";
        column-gap: 1%;
        row-gap: 2%;
    }

    .smallPostWrapper {
        width: 90%;
        margin: 1% 5%;
    }

    .makePlaceForIcons {
        width: 84%;
    }

    .iconDiv {
        width: 16%;
    }

    .makePlaceForIconsComment {
        width: 70%;
    }

    .iconDivComment {
        width: 30%;
    }
}