.bannerProfilePage {
    height: 20vh;
    background: url('../images/Profil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.yourData {
    width: fit-content;
    margin: auto;
    padding: 0.75%;
    border: 2px solid;
}

.textProfileSize36 {
    font-size: 1.5rem;
}

.buttonDeleteModal {
    background-color: rgb(230, 90, 90);
    border: 0;
}

#buttonDeleteModal:hover {
    background-color: rgb(255, 0, 0)!important;
}

#buttonDeleteModal:active {
    background-color: rgb(230, 90, 90)!important;
}

#buttonDeleteModal:focus {
    background-color: rgb(255, 0, 0)!important;
}

.dataUser {
    display: inline;
    color: #bbbbbb;
}

.makePlaceForIconsUser {
    width: 90%;
    float: left;
}

.iconDivUser {
    width: 10%;
    overflow: hidden;
}

.textSizeManagement36 {
    font-size: 1.5rem;
}

@media only screen and (max-width: 575px) {
    .textProfileSize36 {
        font-size: 1rem;
    }

    .textSizeManagement36 {
        font-size: 1rem;
    }

    .makePlaceForIconsUser {
        width: 85%;
        float: left;
    }
    
    .iconDivUser {
        width: 15%;
        overflow: hidden;
    }
}